In [1]:
import pandas as pd
df = pd.read_csv("vines.csv")

In [2]:
dataTypeDict = dict(df.dtypes)
print(dataTypeDict)

filtered_df = df[df["total_votes"] >= 20.0]

{'review_id': dtype('O'), 'star_rating': dtype('float64'), 'helpful_votes': dtype('float64'), 'total_votes': dtype('float64'), 'vine': dtype('O'), 'verified_purchase': dtype('O')}

In [3]:
helpful_df = filtered_df[filtered_df["helpful_votes"]/filtered_df["total_votes"] >= 0.5]

In [4]:
helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N

In [5]:
paid_df =helpful_df[helpful_df["vine"]=='Y']#there are no paid reviews
unpaid_df =helpful_df[helpful_df["vine"]=='N']

In [6]:
paid_df.head()

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [7]:
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
5683,RCDI7Z8VCZJI9,4.0,40.0,43.0,N,N
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10064,R1WFSWDT8L5RSJ,4.0,23.0,26.0,N,N

In [8]:
fiveStar_df = unpaid_df[unpaid_df["star_rating"] == 5]
paid_fiveStar_df = paid_df[paid_df["star_rating"] == 5] #there are no paid reviews

fiveStar_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
319,R1S0N56H5B9SUX,5.0,30.0,30.0,N,Y
9260,R2LWBYC8TEUVF2,5.0,50.0,53.0,N,Y
9508,R23E4EIJXID5IC,5.0,43.0,43.0,N,N
10117,R37LMHN02KOER1,5.0,50.0,50.0,N,N
12352,R2NPE00F48X0ET,5.0,22.0,27.0,N,N

In [9]:
total_paid = len(paid_df)
total_paid_fiveStar = len(paid_fiveStar_df)

total_unpaid = len(unpaid_df)
total_unpaid_fiveStar = len(fiveStar_df)

unpaid_fiveStar_percentage = round(((total_unpaid_fiveStar/total_unpaid)*100),2)

if total_paid == 0:
    paid_fiveStar_percentage = "0"
else:
    paid_fiveStar_percentage = round(((total_paid_fiveStar/total_paid)*100),2)
    
    
print(str(total_paid) + " total paid reviews")
print(str(paid_fiveStar_percentage) + "% of paid reviews were five star")

print(str(total_unpaid) + " total unpaid reviews")
print(str(unpaid_fiveStar_percentage) + "% of unpaid reviews were five star")

0 total paid reviews
0% of paid reviews were five star
4532 total unpaid reviews
55.32% of unpaid reviews were five star